- extends 'WorkActivityBundle:Layout:main.html.haml'

- block content
    .container
        .row
            = form_start(form)
            .m-5
                .col-xs-4.p
                    = form_label(form.name)
                .col-xs-8
                    = form_widget(form.name)
            .m-5
                .col-xs-4
                    = form_label(form.owner)
                .col-xs-8
                    = form_widget(form.owner)
            .m-5
                .col-xs-4
                    = form_label(form.technology)
                .col-xs-8
                    = form_widget(form.technology)
            = form_end(form)
